@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  margin: 0;
  padding: 0;
  width :100vw;
  height: 100vh;
}

body {
  font-family: 'Gemunu Libre', sans-serif;
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
}

.btn {
  @apply text-white font-bold py-0.5 px-4 border-blue-600 border-2 transition-colors;
  &:disabled,
  &.btn-primary:disabled{
    @apply bg-gray-500 text-white border-gray-500 cursor-not-allowed;
    &:hover {
      @apply bg-gray-500
    }
  }
  &:hover {
    @apply bg-blue-600;
  }
  &:active,
  &.btn-primary:active {
    @apply bg-blue-400;
  }

  &.btn-primary {
    @apply bg-blue-600;
    &:hover {
      @apply bg-blue-500;
    }
    &:active {
      @apply bg-blue-400;
    }
  }

  &.btn-outline-danger {
    @apply bg-transparent border-red-500 text-red-500;
    &:hover {
      @apply bg-red-500 text-white;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  @apply block font-bold;
}

.h1 {
  @apply text-6xl ;
}

.h2 {
  @apply text-4xl;
}

.h3 {
  @apply text-2xl;
}

a {
  @apply font-bold text-blue-400 transition-colors border-2 px-3 py-2 border-transparent border-solid;
  &:hover {
    @apply text-blue-300 border-blue-300;
  }
  &.active {
    @apply bg-blue-600 text-blue-300 font-bold;
  }
}

.main-container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.row-end-12{
  grid-row-end: 12;
}


.btn-pin {
  font-size: .7rem;
  position: absolute;
  @apply bg-blue-500 text-center transition-colors;
  &:hover {
    @apply bg-blue-400;
  }
  &.pos-left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    @apply py-2 px-1;
  }

  &.pos-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    @apply px-2 py-1;
  }
}

.form-control {
  @apply outline-none px-2 p-1 block my-1 bg-transparent border-2 border-blue-500 w-full;
  &.is-invalid {
    @apply border-red-500;
  }
}
